# Global Code Owners
* @jalextowle @jrhea @mcclurejt @dpaiton @slundqui

# Instance Owners
contracts/src/deployers/ @jalextowle @jrhea @mcclurejt @cashd @sentilesdal
contracts/src/instances/ @jalextowle @jrhea @mcclurejt @cashd @sentilesdal
contracts/src/interfaces/ @jalextowle @jrhea @mcclurejt @cashd @sentilesdal
contracts/test/ @jalextowle @jrhea @mcclurejt @cashd @sentilesdal
test/ @jalextowle @jrhea @mcclurejt @cashd @sentilesdal
