[profile.default]
# The source directory
src = 'contracts'
# The artifact directory
out = 'out'
# A list of paths to look for libraries in
libs = ['node_modules', 'lib']
# The test directory
test = 'test'
# Whether to cache builds or not
cache = true
# The cache directory if enabled
cache_path  = 'forge-cache'
# Enables or disables the optimizer
remappings = ['forge-std=lib/forge-std/src', '@openzeppelin/=node_modules/@openzeppelin', '@aave/=lib/aave-v3-core/contracts']
# gas limit - max u64
gas_limit = "18446744073709551615"
# See more config options https://github.com/foundry-rs/foundry/tree/master/config

[profile.production]
# strict warnings
deny_warnings = true
# optimizer settings
optimizer = true
# FIXME: Revert this to 7500 after creating a data contract to expose the getters
optimizer_runs = 200
# TODO: This led to a stack-too-deep error involving calculateShortProceeds 
# (most likely in one of the apply functions). Re-evaluate this after more 
# refactoring.
#
# Enable via-ir
# via_ir=true
# Enable gas-reporting for all contracts
gas_reports = ["*"]

[fuzz]
runs = 1000

[rpc_endpoints]
goerli = "${GOERLI_RPC_URL}"
