// SPDX-License-Identifier: Apache-2.0
pragma solidity 0.8.22;

/// @author DELV
/// @title {{ name.capitalized }}Conversions
/// @notice The conversion logic for the  {{ name.capitalized }} Hyperdrive integration.
/// @custom:disclaimer The language used in this code is for coding convenience
///                    only, and is not intended to, and does not, have any
///                    particular legal or regulatory significance.
library {{ name.capitalized }}Conversions {
    /// @dev Convert an amount of vault shares to an amount of base.
    /// @param _shareAmount The vault shares amount.
    /// @return The base amount.
    function convertToBase(
        uint256 _shareAmount
    ) external view returns (uint256) {
        // FIXME
    }

    /// @dev Convert an amount of base to an amount of vault shares.
    /// @param _baseAmount The base amount.
    /// @return The vault shares amount.
    function convertToShares(
        uint256 _baseAmount
    ) external view returns (uint256) {
        // FIXME
    }
}
