name: Rust Test

on:
  push:
  pull_request:
  merge_group:

jobs:
  # Check if files in the /contracts, /test, /crates, or /lib directories or the
  # /foundry.toml, /Cargo.lock, or /Cargo.toml files were changed in this PR.
  detect-changes:
    uses: ./.github/workflows/check_diff.yaml
    with:
      pattern: ^contracts/\|^test/\|^crates/\|^lib/\|^foundry\.toml$\|^Cargo\.lock$\|^Cargo\.toml$\|^\.github/workflows/rust_test\.yml$

  test:
    name: rust test
    runs-on: ubuntu-latest-m
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      # NOTE: This is needed to ensure that hyperdrive-wrappers builds correctly.
      - name: install foundry
        uses: foundry-rs/foundry-toolchain@v1.0.10
        with:
          version: nightly

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: test
        run: make test-rust
