name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    env:
      GOERLI_RPC_URL: ${{ secrets.GOERLI_RPC_URL }}
      MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: install node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: install packages
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # if needed

      - name: install foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: test forge
        run: forge test -vvv

      - name: install python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10.10"
          cache: pip
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          ape plugins install .
          ape compile --force

      - name: test python
        run: ls -a && forge install && python -m pytest . -r A --verbosity=2
